

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.conteiner{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header header"
    "slider slider slider slider"
    "icons icons icons icons"
    "image image image image"
    "map map map map"
    "footer footer footer footer";
}

#header{
    background-color: gray;
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

div.header-left{
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/-1;
}

img.left{
    width: 100%;
    margin-top: .4rem;
}

div.header-right{
    width: 100%;
    grid-column: 4 / -1;
    grid-row: 1 / -1;
    align-self: center;
    text-align: center;
}

a.right{
    width: 100%;
    font-family: 'Roboto Slab';
    font-size: 1.5rem;
    margin-right: 5rem;
    text-decoration: none;
    color: black;
    
}

a#right{
    width: 100%;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    margin-left: 1rem;
}

#slider{
    display: grid;
    background-color: white;
    grid-area: slider;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 7rem);
}

#icons{
    display: grid;
    background-color: white;
    grid-area: icons;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, .5fr);
}

h2{
    font-size: 1.5rem;
}
p{
    font-size: 1rem;
    letter-spacing: .5px;
}

div.icons-high{
    grid-column: 2 / 9;
    grid-row: 1 / 2;
    justify-self: center;
    text-align: center;
}

div.icons-down{
    grid-column: 2/9;
    grid-row: 3/4;
    text-align: center;
}

a#icon-left{
    font-size: 5rem;
    margin-right: 20rem;
    text-decoration: none;
    color: black;
}

a#icon-center{
    font-size: 5rem;
    margin-right: 20rem;
    text-decoration: none;
    color: black;
}

a#icon-right{
    font-size: 5rem;
    text-decoration: none;
    color: black;
}

#image{
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: .1fr repeat(9, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: white;
    grid-area: image;
}

div.image-block{
    grid-column: 2 / 6;
    grid-row: 1 / -1;
}

div.image-block img{
    width: 50%;
}

img#block{
    max-width: 480px;
}

div.info-block{
    grid-column: 6 / -1;
    grid-row: 3 / 10;
}

p{

}

#map{
    background-color: white;
    grid-area: map;
}

footer{
    background-color: white;
    grid-area: footer;
}




@media only screen and (max-width: 576px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 1280px) {

}